.text-center {
    text-align: center;
    color: rgb(182, 57, 57);
}

.bg-red {
    background: red;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}
.leftCE{
    
    background-color: rgb(226, 222, 222);
}
.equalto{
    background-color: rgb(109, 109, 168);
}